# QGIS temporary files and logs
*.qgz~         # QGIS backup files
*.qgd          # QGIS database files (if not intended for version control)
*.qgs~         # Older QGIS project backup files
*.qpt~         # QGIS print layout template backups

# Common temporary files / caches
*.tmp
*.log
.DS_Store      # macOS specific
Thumbs.db      # Windows specific
work1/653070310210_pongtap pattawoharn_GIS_work1.docx
work1/653070310210_pongtap pattawoharn_GIS_work1.pdf
work1/653070310210_pongtap pattawoharn_GIS_work1.pptx
work1/การประยุกต์ระบบสารสนเทศภูมิศาสตร์ในการวิเคราะห์การเปลี่ยนแปลงการใช้ประโยชน์ที่ดินที่มีผลต่ออุณหภูมิพื้นผิวในจังหวัดชลบุรี.pdf
work1/การเตือนภัยการระบาดล่วงหน้าของโรคไข้เลือดออกในประเทศไทย โดยใช้ปัจจัยด้านกีฏวิทยา ระบาดวิทยา และอุตุนิยมวิทยา โดยการวิเคราะห์ด้วยสถิติขั้นสูงและระบบสารสนเทศภูมิศาสตร์.pdf
work1/แนวทางการพัฒนาการท่องเที่ยวเชิงนิเวศแบบมีส่วนร่วมอย่างยั่งยืน โดยการประยุกต์ใช้ระบบสารสนเทศภูมิศาสตร์ กรณีศึกษา สามพันโบก อำเภอโพธิ์ไทร จังหวัดอุบลราชธานี.pdf
work2/653070310210_pongtap pattawoharn_GIS_work2.docx
work2/653070310210_pongtap pattawoharn_GIS_work2.pdf
work3/วงเวียนสระแก้ว ลพบุรี (1).png
work3/วงเวียนสระแก้ว ลพบุรี.png
work4/Sing Buri.png
work4/Sing Buri.zip
work5/Anubarn Sing Buri School Street Food.png
work6/Anubarn Sing Buri School Street Food.png
work7/Nakhon Phanom.zip
work7/วัดพระธาตุ.png
